<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @shopping_cart.product %>
</p>

<p>
  <b>Price:</b>
  <%= @shopping_cart.price %>
</p>


<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>
